1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILETYPE 1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "FileVersion",      "1.0"
            VALUE "FileDescription",  "Simple Interface Toolkit - OpenGL edition"
            VALUE "InternalName",     "SITGL"
            VALUE "LegalCopyright",   "BSD Licensed"
            VALUE "OriginalFilename", "SITGL.dll"
            VALUE "ProductName",      "SITGL"
            VALUE "ProductVersion",   "1.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}
1 MANIFEST "SITGL.exe.Manifest"
